<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @job.employer %>
</p>

<p>
  <strong>Recruiters:</strong>
  <ul>
    <% @job.recruiters.each do |recruiter| %>
      <li><%= link_to recruiter.name, recruiter_path(recruiter) %></li>
    <% end %>
  </ul>
</p>

<h3>Current Question</h3>
<div class="questions">
  <%= render @job.questions %>
</div>

<% if current_user && current_user.is_a?(Recruiter) %>
  <h3>Ask a Question</h3>

  <div class="questions-form">
    <%= render 'questions/form' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
